*{
    font-family: 'Silkscreen', sans-serif;
}
@media(orientation: landscape){
    body{
        margin: 0;
        text-align: center;
    }
    .wrapper{
        display: grid;
        margin: auto;
        height: max-content;
        width: 80%;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 80vh;
        gap: 5em;
        grid-template-areas:
           "fir sec"
            ;
        }
    }

@media(orientation: portrait){
    body{
        margin: 0;
        text-align: center;

    }
    .wrapper{
        display: grid;
        margin: auto;
        height: auto;
        width: 80%;
        grid-template-columns: repeat(1);
        gap: 0.5em;
        grid-template-areas:
          "fir"
          "sec"
        ;
     }
} 

button{
    background-color: pink;
}
#first{
    grid-area: fir;
    background-color:#ffffff;
   
    
}
#second{
    grid-area: sec;
}
.projectstext{
    margin: 0;
    color: #ffffff;
}



nav{ 
    margin-bottom: 20px;
    background-color: #C2C2C2;
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
    position: sticky;
    flex-direction: row;
    list-style-type: none;
    border: 1px solid black;
    text-decoration: none;
    padding: 0.5em;
    gap: 2em;
    background-size: cover;
    justify-content: center;
    color: #ffffff;
}
nav ul li{
    border: 1px solid black;
    width: 100px;
    height: 4em;
    padding: 10px;
    text-align: center;
}
nav ul li:hover{
    font-weight: bold;
    color: black;
}
nav ul a{
    text-decoration: none;
    color: #ffffff;
}
.wrapper a{
    text-decoration: none;
    color: #1a1a1a;
}

#cafeimage{
    height: 80vh;
    width: 100%;
    background-image: url("cafecolor.jpeg");
    background-size: cover;
}
#balconyimage{
    height: 80vh;
    width: 100%;
    background-image: url("balcony.jpeg");
    background-size: cover;
}



footer{
    height: 100%;
    margin-top: 20px;
    border: solid 1px black;
    text-align: center;
    background-color: #C2C2C2;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}

.darkmode{
    background-color: #1a1a1a;
    color: #ffffff;
}
.darkModeFoot{
    background-color: #3D3D3D;
    color: #ffffff;
}
.darkModeNav{
    background-color: #3D3D3D; 
    color: #ffffff;
}

.pinkmode{
    background-color: pink;
    color: #ffffff;
}
.pinkModeFoot{
    background-color: #FF9AAA;
    color: #ffffff;
}
.pinkModeNav{
    background-color: #FF9AAA;
    color: #ffffff;
}
